flask==3.1.2
numpy==2.2.6
pandas==2.3.2
nibabel==5.4.0
nilearn==0.13.0
scipy==1.15.2
scikit-learn==1.7.1
moviepy==2.2.1
soundfile==0.13.0
librosa==0.10.2.post1
requests==2.33.0
gunicorn==23.0.0
tribev2 @ git+https://github.com/facebookresearch/tribev2.git
